# ignore cache folder
/silverstripe-cache/

/assets/
# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
/siteconfig/

### Silverstripe ###
assets/_combinedfiles/
assets/_resampled/
assets/Uploads/
install.php
selenium-server-standalone-2.44.0.jar
/testsession/
phpunit
framework
cms
reports
blog/
lumberjack/
tagfield/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json
